<div class="outer site-nav-main">
    <div class="inner">
        {{> "site-nav"}}
    </div>
    <svg style="color: #001d27;" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1199.5 26">
        <use xlink:href="#ripple-wave"/>
    </svg>
</div>